.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 12fr);
    /*grid-template-rows: repeat(2,6fr);*/

}

.wrapper4 {
    display: grid;
    /*grid-template-columns: 50% 50% ;*/
    grid-template-columns: repeat(2,6fr);
    grid-template-rows: repeat(2,6fr);
}

@media (min-width: 600px) {

    .wrapper {
        display: grid;
        /*grid-template-columns: repeat(2, 6fr);*/
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
        grid-template-rows: repeat(2, 6fr);

    }
    .wrapper4 {
        display: grid;
        /*grid-template-columns: 50% 50% ;*/
        grid-template-columns: repeat(2, 6fr);
        grid-template-rows: repeat(2, 6fr);

    }
}


.wp4 {
    padding: 5% 5%;
}

.AttaImage {
    display: block;
    height: 100%;
    width: 100%;
}

img {
    border-radius: 10%;

}


/*p{*/
/*    padding: 20px 30px;*/
/*}*/

.spacing {
    padding: 10% 30px;
}

button {
    margin: 2% 2% 4% 0;
    border: 1px solid aliceblue;
    padding: 2%;
}


.active, .btn:hover {
    background-color: chartreuse;
    color: white;
}

form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#quantity {
    display: inline-block;
}

input {
    border: none;
    outline: none;
    height: 100%;
}

.value-button:hover {
    cursor: pointer;
}

.value-button {
    border-radius: 50%;
    background-color: white;
    padding: 5%;
    border: none;
    align-items: center;
    outline: none;
    height: 100%;
}


input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#payable {
    background-color: cornflowerblue;
    display: inline;
    border-radius: 50%;
    padding: 2% 5%;
    outline: none;
    color: white;
    margin-top: 5%;
}

#priceinfo {
    display: inline;
    color: green;
}

h2 {
    text-align: center;
    background-color: aliceblue;
}